.slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slider__wrapper {
  width: 500px;
  height: 612px;
}

.upper-slider {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  cursor: pointer;
}
.slider-bottomContainer {
  width: 400px;
  height: 82px;
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 0px;
}
.bottom-slider {
  border-radius: 10px;
}

.cart-btn {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgb(236, 116, 72);
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
}
