.slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slider__wrapper {
  width: 500px;
  height: 612px;
}

.upper-slider {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  cursor: pointer;
}
.slider-bottomContainer {
  width: 400px;
  height: 82px;
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 0px;
}
.bottom-slider {
  border-radius: 10px;
}
